* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #272727;
}

body {
	background-color: #eee;
}

input[type='text'] {
	outline: none;
	display: block;
	width: 100%;
	min-height: 45px;
	border:none;
	padding: 2px 10px;
	font-size: 16px;
	background-color: #ddd;
	overflow-x: hidden;
	word-wrap: break-word;
	margin-top: 2px;
}

input[type='text']::placeholder {
	color: #ddd;
}

section {
	margin-top: 5em;
	margin-bottom: 5em;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

}

div {
	width: 30%;
	min-height: 400px;
	margin: 10px 0;
	position: relative;
}

h2 {
	background-color: #fff;
	padding: 4px 0.5em;
	position: relative;
	text-align: center;
}

span {
	cursor: pointer;
}



.header{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  background-color: #64B5F6;

}

.header h1{
    margin: 0;
    padding: 0;
    font-size: 3rem;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px;
    text-shadow: -1px 2px 8px rgba(0,0,0,.5);
  }

.todoHeading {
	text-align: center;
	margin-top: 2em;
	color: #444;
}

.todoInput {
	position: relative;
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 1em;
}

.todoInput input[type='text'] {	
	background-color: #64B5F6;
	width: 100%;
	border-radius: 6px;
	border-color: transparent;
}

.todoInput span{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

h2 span {
	position: absolute;
	display: block;
	top: 0;
	background-color: red;
	padding: 4px 5px;
}

.todoInput span i {	
	color: #fff;
}

.f {
	left: 0;
	bottom: 0;
	color: #fff;
}

.s {
	right: 0;
	bottom: 0;
	color: #fff;
}

div h2~span{
	position: absolute;
	top: 52px;
	right: 0;
	width: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

div h2~span i {
	color: #64B5F6;
}

ul {
	list-style: none ;
	min-height: 200px;
}

ul li {
	cursor:pointer;
	background-color: #d5d5d5;
	padding: 0;
	margin: 0;
	position: relative;
	padding: 10px;
	height: auto;
	margin-top: 2px;
	word-wrap: break-word;
	padding-right: 30px;
	overflow: hidden;
	font-size: 16px;
	font-family: roboto;
	color: #333;
  	list-style-type: none;
  	padding: 0.5em 1.5em 0.5em 2.5em;
  	font-family: sans-serif;
}

li.done {
  background: lightgrey;
}

li.done::before {
  content: '';
  position: absolute;
  border-color: #009933;
  border-style: solid;
  border-width: 0 0.25em 0.22em 0;
  height: 1em;
  top: 1.3em;
  left: 0.6em;
  margin-top: -1em;
  transform: rotate(45deg);
  width: 0.5em;
}

ul li span {
	text-align: center;
	background-color:;
	color: #f00;
	position: absolute;
	right: 0;
	top: 0;
	width: 30px;
	height: 30px;
	font-size: 20px;
	padding-top: 5px;
	transform: translateX(100%);
}

ul li:hover span {
	transform: translateX(0);
	transition: transform 0.5s;
}

.line {

	text-decoration:line-through;
	color:#c5c5c5;

}